button {
  background: #E5B6D5;
  border-color: #B2479A #CC7FB5;
  border-width: 10px;
  color: #FFFFFF;
  height: 100px;
  width: 200px;
}

button:hover {
  background: #B2479A;
  border-color: #CC7FB5 #E5B6D5;
}
