/* Flexbox */
.button-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Button Layout */

button {
  background: #E5B6D5;
  border-top: 10px solid #B2479A;
  border-right: 10px solid #CC7FB5;
  border-bottom: 10px solid #B2479A;
  border-left: 10px solid #CC7FB5;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  height: 100px;
  margin: 15px;
  width: 250px;
}

.reset {
  border-width: 5px;
  font-size: 25px;
  height: 50px;
  width: 250px;
}

/* Hover Elements */

button:hover {
  background: #B2479A;
  border-top: 10px solid #CC7FB5;
  border-right: 10px solid #E5B6D5;
  border-bottom: 10px solid #CC7FB5;
  border-left: 10px solid #E5B6D5;
}

.reset:hover {
  background: #B2479A;
  border-top: 5px solid #CC7FB5;
  border-right: 5px solid #E5B6D5;
  border-bottom: 5px solid #CC7FB5;
  border-left: 5px solid #E5B6D5;
}

/* Media Query */

@media screen and (min-width: 700px){
  .button-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  button, .reset {
    background: #E5B6D5;
    border-top: 10px solid #B2479A;
    border-right: 10px solid #CC7FB5;
    border-bottom: 10px solid #B2479A;
    border-left: 10px solid #CC7FB5;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    height: 100px;
    width: 250px;
  }


  button:hover {
    background: #B2479A;
    border-top: 10px solid #CC7FB5;
    border-left: 10px solid #E5B6D5;
    border-top: 10px solid #CC7FB5;
    border-left: 10px solid #E5B6D5;
  }
};
